/* for defining the custom properties */
:root {
  --color-primary: #ea7f28;
  --color-secondary: #d37324;
  --color-accent: #4a4a4a;
  --color-medium: #ededed;
}



@font-face {
  font-family: 'Roboto';
  src: url('/src/assets/font/Roboto.woff');
}

* {
  font-family: 'Roboto';
  font-size: 14px;
}


body {
  margin: 0;
}

.primary-text {
  color: var(--color-primary);
}

.accent-text {
  color: var(--color-accent);
}



.button {
  width: 128px;
  height: 32px;
  background-color: #ea7f28;
  border: none;
  color: #fff;
  font-weight: 400;
  border-radius: 3px;
}

.button:hover {
  background-color: #d37324;
}

.disabled-button {
  width: 128px;
  height: 32px;
  background-color: #f6c8a2;
  border: none;
  color: #fff;
  font-weight: 400;
  border-radius: 3px;
}

.cursor-pointer {
  cursor: pointer;
}

.text-orange {
  color: #ea7f28;
}

a:hover {
  text-decoration: none !important;
  color: var(--color-accent) !important;
}